ENDPOINT_SERVER=https://api.coronacasin24.com
NEXTAUTH_URL=https://coronacasin24.com
MONGODB_URL=mongodb://127.0.0.1:27017/coronacasino?replicaSet=rs0&directConnection=true
NEXTAUTH_SECRET=change-me
LIMIT_RESULTS=10
JWT_ACCESSTOKEN_EXPIRED=10d
JWT_REFRESHTOKEN_EXPIRED=30d
MEMO_PREFIX_DEPOSIT=NAPTIEN
