NODE_ENV=production
ENDPOINT_CLIENT=https://coronacasin24.com,https://admin.coronacasin24.com
ENDPOINT_SERVER=https://api.coronacasin24.com
DATABASE=mongodb://127.0.0.1:27017/coronacasino?replicaSet=rs0&directConnection=true
DATABASE_DEV=mongodb://127.0.0.1:27017/coronacasino?replicaSet=rs0&directConnection=true
REDIS=redis://127.0.0.1:6379
REDIS_DEV=redis://127.0.0.1:6379
JWT_SECRET_KEY=change-me
JWT_ACCESSTOKEN_EXPIRED=10d
JWT_REFRESHTOKEN_EXPIRED=30d
BOT_TELEGRAM_TOKEN=
MEMO_PREFIX_DEPOSIT=NAPTIEN
TZ=Asia/Ho_Chi_Minh
PORT=7000
ADMIN_ACCOUNT=admin123
ADMIN_PASSWORD=change-me
